# Dependências
node_modules/

# Build de produção
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos do sistema
.DS_Store
Thumbs.db

# Cache de IDEs
.vscode/
.idea/

# Ambiente
.env
.env.local
.env.*.local

# Coverage (testes)
coverage/

# Arquivos temporários
*.tmp
*.swp

# Cache do Tailwind e PostCSS
.pnpm-store/
.cache/

